# EDA - Exploratory Data Analysis:

- Dataset Used: [FaceBook Data - Kaggle ðŸ”—](https://www.kaggle.com/datasets/sheenabatra/facebook-data/data)

In [4]:
# Imports
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

## Load Dataset:

In [25]:
PATH = 'pseudo_facebook.csv'

df = pd.read_csv(PATH, index_col = 'userid' )

## Exploratory Data Analysis:

In [20]:
# Summary about the dataset...
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99003 entries, 2094382 to 1397896
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    99003 non-null  int64
 1   dob_day                99003 non-null  int64
 2   dob_year               99003 non-null  int64
 3   dob_month              99003 non-null  int64
 4   gender                 98828 non-null  object
 5   tenure                 99001 non-null  float64
 6   friend_count           99003 non-null  int64
 7   friendships_initiated  99003 non-null  int64
 8   likes                  99003 non-null  int64
 9   likes_received         99003 non-null  int64
 10  mobile_likes           99003 non-null  int64
 11  mobile_likes_received  99003 non-null  int64
 12  www_likes              99003 non-null  int64
 13  www_likes_received     99003 non-null  int64
dtypes: float64(1), int64(12), object(1)
memory usage: 11.3+ MB

In [22]:
# Shape of the data...
df.shape

(99003, 14)

In [24]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,99003.0,37.280224,22.589748,13.0,20.0,28.0,50.0,113.0
dob_day,99003.0,14.530408,9.015606,1.0,7.0,14.0,22.0,31.0
dob_year,99003.0,1975.719776,22.589748,1900.0,1963.0,1985.0,1993.0,2000.0
dob_month,99003.0,6.283365,3.529672,1.0,3.0,6.0,9.0,12.0
tenure,99001.0,537.887375,457.649874,0.0,226.0,412.0,675.0,3139.0
friend_count,99003.0,196.350787,387.304229,0.0,31.0,82.0,206.0,4923.0
friendships_initiated,99003.0,107.452471,188.786951,0.0,17.0,46.0,117.0,4144.0
likes,99003.0,156.078785,572.280681,0.0,1.0,11.0,81.0,25111.0
likes_received,99003.0,142.689363,1387.919613,0.0,1.0,8.0,59.0,261197.0
mobile_likes,99003.0,106.116300,445.252985,0.0,0.0,4.0,46.0,25111.0
mobile_likes_received,99003.0,84.120491,839.889444,0.0,0.0,4.0,33.0,138561.0
www_likes,99003.0,49.962425,285.560152,0.0,0.0,0.0,7.0,14865.0
www_likes_received,99003.0,58.568831,601.416348,0.0,0.0,2.0,20.0,129953.0